# Основные библиотеки для проекта
aiogram~=3.18.0

# Загрузка переменных окружения (.env)
python-dotenv==0.21.0

# HTTP-запросы (используется в bot/utils.py)
requests==2.32.0

# sqlite3 встроен в стандартную библиотеку Python,
# поэтому в requirements.txt указывать не нужно.

dotenv~=0.9.9

beautifulsoup4>=4.12.0
lxml>=4.9.2